 <!DOCTYPE html>
    <html>

    <head>
        <title>{{pageTitle}} Page</title>
    </head>

    <body style="text-align: center;">
        {{> header}}
        <p>Portfolio here</p>
        {{> footer}}
    </body>

    </html> 
    